*
{
    box-sizing: border-box;
}
.grid-container
{
  padding: 20px;
  background-color: tomato;
  display: grid;
  grid-template-areas: 
  
    'header header header header'
    'asid main mian asid'
    'footer footer footer footer'
  ;
}
.Header
{
    grid-area: header;
}
.Main
{
    grid-area: main;
}
.Asid
{
    grid-area: asid;
}
.Footer
{
    grid-area: footer;
}
