*
{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
/* .container p:last-child
{
    background-color: chocolate;
     cursor: pointer;
}
input:focus
{
    background-color: green;
} */
.container
{
   text-align: center;
}
/* li:nth-child(2n+1)
{
    background-color: teal;
} */

P::first-line
{
    font-size: 20px;
    background-color: rgb(165, 175, 165);
}
p::before
{
    content: '';
    width: 100px;
    height: 20px;
    background-color: aqua;
    display: inline-block;
}
::selection
{
    background-color: tomato;
}
::placeholder
{
    
}