table
{
    border: 2px solid green;
    margin: 0px auto;
    border-collapse: collapse;
}
th,td
{
    border: 2px solid black;
    height: 25px;
    width: 100px;
    text-align: center;
    font-weight: 700px;
    font-size: 22px;
}
tr:hover 
{
    background-color: green;
    color: white;

}