/* ======================================================================
                      START BASIC STYLE SETUP HERE
===================================================================== */
*
{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body
{
    font-family: 'KoHo', sans-serif;
}

/* ======================================================================
                      END BASIC STYLE SETUP HERE
===================================================================== */

/* -------------- START NAV_BAR STYLE HERE------------------------------- */
.nav-bar
{
    background-color: #035fd8;
    padding: 23px 10px;
}
.nav-bar ul
{
   padding-right:80px ;
}
li 
{
    float: right;
    margin: 1% 1%;
    list-style: none;
}
li a
{
   text-decoration: none;
   color: white;
   font-size: 16px;
   font-weight: bold;
   padding: 3px 10px;
   border-radius: 5px;
}
li a:hover
{
    background-color:  #0c2649;
}
.nav-bar::after
{
    content: '';
    clear: both;
    display: table;
}
/* --------------START NAV_BAR STYLE HERE------------------------------- */

/* --------------START COVER STYLE HERE------------------------------- */
.cover-section
{
    background-image:linear-gradient(rgba(155, 216, 155, 0.376),rgba(0, 128, 0, 0.137)),url("cover.jpg") ;
    height: 800px;
    width: 100%;
    background-size: cover;
    padding-left: 100px;
    padding-top: 100px;

    
}
.form
{
    background-color: rgba(255, 255, 255, 0.157);
    height: 450px;
    width: 400px;
    padding: 20px;
    border-radius: 4px;
   
}
input
{
    height: 45px;
    width: 100%;
    margin: 4% 0%;
    outline: 0px;
    border: 1px solid grey;
    border-radius: 4px;
    padding-left: 10px;
    font-size: 18px;
}
input:focus
{
    border: 2px solid #4e90e6;
}
.btn_
{
    height: 45px;
    width: 100%;
    margin: 4% 0%;
    outline: 0px;
    border-radius: 4px;
    background-color: #2D88FF;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.btn_:hover
{
    background-color: #1a2e46;
}
::placeholder
{
    font-size: 17px;
}
.form a 
{
    text-align: center;
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: #fdfdfd;
    text-decoration: none;
}
.form a:hover
{
    text-decoration: underline;
}
.new-account
{
   height: 45px;
   width: 60%;
  
   outline: 0px;
   border-radius: 4px;
   background-color: #45BD62;
   border: none;
   font-size: 18px;
   font-weight: bold;
   color: white;
   cursor: pointer;
   display: block;
   margin: 0px auto;
   margin-top: 4%;
}
.new-account:hover
{
    background-color: #036920;
}